<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ribog" translate="label" sortOrder="100">
            <label>Ribog Extensions</label>
        </tab>
        <section id="offers" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Offers</label>
            <tab>ribog</tab>
            <resource>Ribog_Offers::config_ribog_offers</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="promotion" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Include Promotions</label>
                    <comment/>
                    <source_model>Ribog\Offers\Model\Config\Source\Promotions</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
