<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Menahub\MobileApis\Api\CategoryLinkManagementInterface" type="Menahub\MobileApis\Model\CategoryLinkManagement" />
    <!-- <preference for="Menahub\MobileApis\Api\Data\CategoryProductLinkInterface" type="Menahub\MobileApis\Model\CategoryProductLink" /> -->
</config>